.bd-sidebar-toggle {
    color: #6c757d
}

.bd-sidebar-toggle:hover, .bd-sidebar-toggle:focus {
    color: #7952b3
}

.bd-sidebar-toggle:focus {
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25)
}

.bd-sidebar-toggle .bi-collapse {
    display: none
}

.bd-sidebar-toggle:not(.collapsed) .bi-expand {
    display: none
}

.bd-sidebar-toggle:not(.collapsed) .bi-collapse {
    display: inline-block
}

.bd-masthead {
    padding: 3rem 0;
    background: linear-gradient(165deg, #f7f5fb 50%, #fff 50%)
}

.bd-masthead h1 {
    font-size: calc(1.525rem + 3.3vw);
    line-height: 1
}

@media (min-width: 1200px) {
    .bd-masthead h1 {
        font-size: 4rem
    }
}

.bd-masthead p:not(.lead) {
    color: #495057
}

.bd-masthead .btn {
    padding: .8rem 2rem;
    font-weight: 600
}

.bd-masthead .lead {
    font-size: calc(1.275rem + .3vw);
    font-weight: 400;
    color: #495057
}

@media (min-width: 1200px) {
    .bd-masthead .lead {
        font-size: 1.5rem
    }
}

@media (min-width: 768px) {
    .mw-md-75 {
        max-width: 75%
    }
}

.masthead-followup-icon {
    padding: .75rem;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01));
    border-radius: .75rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1)
}

.masthead-followup-svg {
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.125))
}

#carbonads {
    position: static;
    display: block;
    max-width: 400px;
    padding: 15px 15px 15px 160px;
    margin: 2rem 0;
    overflow: hidden;
    font-size: .8125rem;
    line-height: 1.4;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.05)
}

#carbonads a {
    color: #343a40;
    text-decoration: none
}

@media (min-width: 576px) {
    #carbonads {
        max-width: 330px;
        border-radius: 4px
    }
}

.carbon-img {
    float: left;
    margin-left: -145px
}

.carbon-poweredby {
    display: block;
    margin-top: .75rem;
    color: #495057 !important
}

@media (min-width: 768px) {
    :root {
        scroll-padding-top: 4rem
    }
}

.bd-content>h2:not(:first-child) {
    margin-top: 3rem
}

.bd-content>h3 {
    margin-top: 2rem
}

.bd-content>ul li, .bd-content>ol li {
    margin-bottom: .25rem
}

.bd-content>ul li>ul, .bd-content>ol li>ul {
    margin-top: -.5rem;
    margin-bottom: 1rem
}

.bd-content>.table {
    max-width: 100%;
    margin-bottom: 1.5rem;
    font-size: .875rem
}

@media (max-width: 991.98px) {
    .bd-content>.table {
        display: block;
        overflow-x: auto
    }
    .bd-content>.table.table-bordered {
        border: 0
    }
}

.bd-content>.table th:first-child, .bd-content>.table td:first-child {
    padding-left: 0
}

.bd-content>.table th:not(:last-child), .bd-content>.table td:not(:last-child) {
    padding-right: 1.5rem
}

.bd-content>.table td:first-child>code {
    white-space: nowrap
}

.bd-title {
    font-size: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .bd-title {
        font-size: 3rem
    }
}

.bd-lead {
    font-size: calc(1.275rem + .3vw);
    font-weight: 300
}

@media (min-width: 1200px) {
    .bd-lead {
        font-size: 1.5rem
    }
}

.bd-text-purple-bright {
    color: #7952b3
}

.bd-bg-purple-bright {
    background-color: #7952b3
}

.skippy {
    background-color: #563d7c
}

.skippy a {
    color: #fff
}

@media (max-width: 767.98px) {
    .bd-sidebar {
        margin: 0 -.75rem 1rem
    }
}

.bd-links {
    overflow: auto;
    font-weight: 600
}

@media (min-width: 768px) {
    .bd-links {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 7rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y: auto
    }
}

@media (max-width: 767.98px) {
    .bd-links>ul {
        padding: 1.5rem .75rem;
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef
    }
}

.bd-links a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none
}

.bd-links a:hover, .bd-links a:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(121, 82, 179, 0.1)
}

.bd-links .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0
}

.bd-links .btn:hover, .bd-links .btn:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(121, 82, 179, 0.1)
}

.bd-links .btn:focus {
    box-shadow: 0 0 0 1px rgba(121, 82, 179, 0.7)
}

.bd-links .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%
}

@media (prefers-reduced-motion: reduce) {
    .bd-links .btn::before {
        transition: none
    }
}

.bd-links .btn[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85)
}

.bd-links .btn[aria-expanded="true"]::before {
    transform: rotate(90deg)
}

.bd-links .active {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85)
}

@media (min-width: 768px) {
    .bd-layout {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 3fr
    }
}

@media (min-width: 992px) {
    .bd-layout {
        grid-template-columns: 1fr 5fr
    }
}

.bd-sidebar {
    grid-area: sidebar
}

.bd-main {
    grid-area: main
}

@media (min-width: 768px) {
    .bd-main {
        display: grid;
        gap: inherit;
        grid-template-areas: "intro" "toc" "content";
        grid-template-rows: auto auto 1fr
    }
}

@media (min-width: 992px) {
    .bd-main {
        grid-template-areas: "intro   toc" "content toc";
        grid-template-columns: 4fr 1fr;
        grid-template-rows: auto 1fr
    }
}

.bd-intro {
    grid-area: intro
}

.bd-toc {
    grid-area: toc
}

.bd-content {
    grid-area: content;
    min-width: 1px
}

@media (min-width: 992px) {
    .bd-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto
    }
}

.bd-toc nav {
    font-size: .875rem
}

.bd-toc nav ul {
    padding-left: 0;
    list-style: none
}

.bd-toc nav ul ul {
    padding-left: 1rem;
    margin-top: .25rem
}

.bd-toc nav li {
    margin-bottom: .25rem
}

.bd-toc nav a {
    color: inherit
}

.bd-toc nav a:not(:hover) {
    text-decoration: none
}

.bd-toc nav a code {
    font: inherit
}

.bd-footer a {
    color: #495057;
    text-decoration: none
}

.bd-footer a:hover, .bd-footer a:focus {
    color: #0d6efd;
    text-decoration: underline
}

.bd-example-row .row>.col, .bd-example-row .row>[class^="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(39, 41, 43, 0.03);
    border: 1px solid rgba(39, 41, 43, 0.1)
}

.bd-example-row .row+.row {
    margin-top: 1rem
}

.bd-example-row-flex-cols .row {
    min-height: 10rem;
    background-color: rgba(255, 0, 0, 0.1)
}

.bd-highlight {
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.15)
}

.example-container {
    width: 800px;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

.example-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2)
}

.example-content-main {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y)
}

@media (min-width: 576px) {
    .example-content-main {
        flex: 0 0 auto;
        width: 50%
    }
}

@media (min-width: 992px) {
    .example-content-main {
        flex: 0 0 auto;
        width: 66.666667%
    }
}

.example-content-secondary {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y)
}

@media (min-width: 576px) {
    .example-content-secondary {
        flex: 0 0 auto;
        width: 50%
    }
}

@media (min-width: 992px) {
    .example-content-secondary {
        flex: 0 0 auto;
        width: 33.333333%
    }
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0
}

.bd-example::after {
    display: block;
    clear: both;
    content: ""
}

@media (min-width: 576px) {
    .bd-example {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem
    }
    .bd-example+.bd-clipboard+.highlight {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem
    }
}

.bd-example+p {
    margin-top: 2rem
}

.bd-example>.form-control+.form-control {
    margin-top: .5rem
}

.bd-example>.nav+.nav, .bd-example>.alert+.alert, .bd-example>.navbar+.navbar, .bd-example>.progress+.progress {
    margin-top: 1rem
}

.bd-example>.dropdown-menu {
    position: static;
    display: block
}

.bd-example>:last-child {
    margin-bottom: 0
}

.bd-example>svg+svg, .bd-example>img+img {
    margin-left: .5rem
}

.bd-example>.btn, .bd-example>.btn-group {
    margin: .25rem .125rem
}

.bd-example>.btn-toolbar+.btn-toolbar {
    margin-top: .5rem
}

.bd-example>.list-group {
    max-width: 400px
}

.bd-example>[class*="list-group-horizontal"] {
    max-width: 100%
}

.bd-example .fixed-top, .bd-example .sticky-top {
    position: static;
    margin: -1rem -1rem 1rem
}

.bd-example .fixed-bottom {
    position: static;
    margin: 1rem -1rem -1rem
}

@media (min-width: 576px) {
    .bd-example .fixed-top, .bd-example .sticky-top {
        margin: -1.5rem -1.5rem 1rem
    }
    .bd-example .fixed-bottom {
        margin: 1rem -1.5rem -1.5rem
    }
}

.bd-example .pagination {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.bd-example-ratios .ratio {
    display: inline-block;
    width: 10rem;
    color: #6c757d;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6
}

.bd-example-ratios .ratio>div {
    display: flex;
    align-items: center;
    justify-content: center
}

.bd-example-ratios-breakpoint .ratio-4x3 {
    width: 16rem
}

@media (min-width: 768px) {
    .bd-example-ratios-breakpoint .ratio-4x3 {
        --bs-aspect-ratio: 50%
    }
}

.bd-example-modal {
    background-color: #fafafa
}

.bd-example-modal .modal {
    position: static;
    display: block
}

.bd-example-offcanvas {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.bd-example-offcanvas .offcanvas {
    position: static;
    display: block;
    height: 200px;
    visibility: visible;
    transform: translate(0)
}

.tooltip-demo a {
    white-space: nowrap
}

.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto
}

.scrollspy-example-2 {
    position: relative;
    height: 350px;
    overflow: auto
}

.bd-example-border-utils [class^="border"] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f5f5f5
}

.bd-example-border-utils-0 [class^="border"] {
    border: 1px solid #dee2e6
}

.bd-example-rounded-utils [class*="rounded"] {
    margin: .25rem
}

.bd-example-position-utils {
    position: relative;
    padding: 3em
}

.bd-example-position-utils .position-relative {
    height: 200px;
    background-color: #f5f5f5
}

.bd-example-position-utils .position-absolute {
    width: 2em;
    height: 2em;
    background-color: #212529;
    border-radius: .25rem
}

.bd-example-position-examples::after {
    content: none
}

.bd-example-toasts {
    min-height: 240px
}

.highlight {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa
}

@media (min-width: 576px) {
    .highlight {
        padding: 1rem 1.5rem
    }
}

.highlight pre {
    padding: 0;
    margin-top: .65rem;
    margin-bottom: .65rem;
    white-space: pre;
    background-color: transparent;
    border: 0
}

.highlight pre code {
    font-size: inherit;
    color: #212529;
    word-wrap: normal
}

.bd-content .highlight {
    margin-right: -.75rem;
    margin-left: -.75rem
}

@media (min-width: 576px) {
    .bd-content .highlight {
        margin-right: 0;
        margin-left: 0
    }
}

.btn-bd-primary {
    font-weight: 600;
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3
}

.btn-bd-primary:hover, .btn-bd-primary:active {
    color: #fff;
    background-color: #61428f;
    border-color: #61428f
}

.btn-bd-primary:focus {
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25)
}

.btn-bd-download {
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484
}

.btn-bd-download:hover, .btn-bd-download:active {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484
}

.btn-bd-download:focus {
    box-shadow: 0 0 0 3px rgba(255, 228, 132, 0.25)
}

.btn-bd-light {
    color: #6c757d;
    border-color: #dee2e6
}

.show>.btn-bd-light, .btn-bd-light:hover, .btn-bd-light:active {
    color: #7952b3;
    background-color: #fff;
    border-color: #7952b3
}

.btn-bd-light:focus {
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25)
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-brand-logos {
    color: #7952b3
}

.bd-brand-logos .inverse {
    color: #fff;
    background-color: #7952b3
}

.bd-brand-item+.bd-brand-item {
    border-top: 1px solid #fff
}

@media (min-width: 768px) {
    .bd-brand-item+.bd-brand-item {
        border-top: 0;
        border-left: 1px solid #fff
    }
}

.color-swatches {
    margin: 0 -5px
}

.color-swatches .bd-purple {
    background-color: #563d7c
}

.color-swatches .bd-purple-light {
    background-color: #cbbde2
}

.color-swatches .bd-purple-lighter {
    background-color: #e5e1ea
}

.color-swatches .bd-gray {
    background-color: #f9f9f9
}

.color-swatch {
    width: 4rem;
    height: 4rem
}

@media (min-width: 768px) {
    .color-swatch {
        width: 6rem;
        height: 6rem
    }
}

.swatch-blue {
    color: #fff;
    background-color: #0d6efd
}

.swatch-blue::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.50" "\a" "4.50" "\a" "4.66";
    background-color: #0d6efd;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-indigo {
    color: #fff;
    background-color: #6610f2
}

.swatch-indigo::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "7.18" "\a" "7.18" "\a" "2.92";
    background-color: #6610f2;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-purple {
    color: #fff;
    background-color: #6f42c1
}

.swatch-purple::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "6.51" "\a" "6.51" "\a" "3.22";
    background-color: #6f42c1;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-pink {
    color: #fff;
    background-color: #d63384
}

.swatch-pink::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.50" "\a" "4.50" "\a" "4.66";
    background-color: #d63384;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-red {
    color: #fff;
    background-color: #dc3545
}

.swatch-red::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.52" "\a" "4.52" "\a" "4.63";
    background-color: #dc3545;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-orange {
    color: #000;
    background-color: #fd7e14
}

.swatch-orange::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "8.17" "\a" "2.57" "\a" "8.17";
    background-color: #fd7e14;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-yellow {
    color: #000;
    background-color: #ffc107
}

.swatch-yellow::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "12.8" "\a" "1.63" "\a" "12.8";
    background-color: #ffc107;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-green {
    color: #fff;
    background-color: #198754
}

.swatch-green::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.53" "\a" "4.53" "\a" "4.63";
    background-color: #198754;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-teal {
    color: #000;
    background-color: #20c997
}

.swatch-teal::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "9.86" "\a" "2.12" "\a" "9.86";
    background-color: #20c997;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-cyan {
    color: #000;
    background-color: #0dcaf0
}

.swatch-cyan::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "10.7" "\a" "1.95" "\a" "10.7";
    background-color: #0dcaf0;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-white {
    color: #000;
    background-color: #fff
}

.swatch-white::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "21" "\a" "1" "\a" "21";
    background-color: #fff;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-gray {
    color: #fff;
    background-color: #6c757d
}

.swatch-gray::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "4.68" "\a" "4.68" "\a" "4.47";
    background-color: #6c757d;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-gray-dark {
    color: #fff;
    background-color: #343a40
}

.swatch-gray-dark::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "11.5" "\a" "11.5" "\a" "1.82";
    background-color: #343a40;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #fff 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.swatch-gray-500 {
    color: #000;
    background-color: #adb5bd
}

.swatch-gray-500::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1.35;
    white-space: pre;
    content: "10.1" "\a" "2.07" "\a" "10.1";
    background-color: #adb5bd;
    background-image: linear-gradient(to bottom, transparent 0.25rem, #000 0.25rem 0.75rem, transparent 0.75rem 1.25rem, #fff 1.25rem 1.75rem, transparent 1.75rem 2.25rem, #000 2.25rem 2.75rem, transparent 2.75rem);
    background-repeat: no-repeat;
    background-size: .5rem 100%
}

.bd-blue-100 {
    color: #000;
    background-color: #cfe2ff
}

.bd-blue-200 {
    color: #000;
    background-color: #9ec5fe
}

.bd-blue-300 {
    color: #000;
    background-color: #6ea8fe
}

.bd-blue-400 {
    color: #000;
    background-color: #3d8bfd
}

.bd-blue-500 {
    color: #fff;
    background-color: #0d6efd
}

.bd-blue-600 {
    color: #fff;
    background-color: #0a58ca
}

.bd-blue-700 {
    color: #fff;
    background-color: #084298
}

.bd-blue-800 {
    color: #fff;
    background-color: #052c65
}

.bd-blue-900 {
    color: #fff;
    background-color: #031633
}

.bd-indigo-100 {
    color: #000;
    background-color: #e0cffc
}

.bd-indigo-200 {
    color: #000;
    background-color: #c29ffa
}

.bd-indigo-300 {
    color: #000;
    background-color: #a370f7
}

.bd-indigo-400 {
    color: #fff;
    background-color: #8540f5
}

.bd-indigo-500 {
    color: #fff;
    background-color: #6610f2
}

.bd-indigo-600 {
    color: #fff;
    background-color: #520dc2
}

.bd-indigo-700 {
    color: #fff;
    background-color: #3d0a91
}

.bd-indigo-800 {
    color: #fff;
    background-color: #290661
}

.bd-indigo-900 {
    color: #fff;
    background-color: #140330
}

.bd-purple-100 {
    color: #000;
    background-color: #e2d9f3
}

.bd-purple-200 {
    color: #000;
    background-color: #c5b3e6
}

.bd-purple-300 {
    color: #000;
    background-color: #a98eda
}

.bd-purple-400 {
    color: #000;
    background-color: #8c68cd
}

.bd-purple-500 {
    color: #fff;
    background-color: #6f42c1
}

.bd-purple-600 {
    color: #fff;
    background-color: #59359a
}

.bd-purple-700 {
    color: #fff;
    background-color: #432874
}

.bd-purple-800 {
    color: #fff;
    background-color: #2c1a4d
}

.bd-purple-900 {
    color: #fff;
    background-color: #160d27
}

.bd-pink-100 {
    color: #000;
    background-color: #f7d6e6
}

.bd-pink-200 {
    color: #000;
    background-color: #efadce
}

.bd-pink-300 {
    color: #000;
    background-color: #e685b5
}

.bd-pink-400 {
    color: #000;
    background-color: #de5c9d
}

.bd-pink-500 {
    color: #fff;
    background-color: #d63384
}

.bd-pink-600 {
    color: #fff;
    background-color: #ab296a
}

.bd-pink-700 {
    color: #fff;
    background-color: #801f4f
}

.bd-pink-800 {
    color: #fff;
    background-color: #561435
}

.bd-pink-900 {
    color: #fff;
    background-color: #2b0a1a
}

.bd-red-100 {
    color: #000;
    background-color: #f8d7da
}

.bd-red-200 {
    color: #000;
    background-color: #f1aeb5
}

.bd-red-300 {
    color: #000;
    background-color: #ea868f
}

.bd-red-400 {
    color: #000;
    background-color: #e35d6a
}

.bd-red-500 {
    color: #fff;
    background-color: #dc3545
}

.bd-red-600 {
    color: #fff;
    background-color: #b02a37
}

.bd-red-700 {
    color: #fff;
    background-color: #842029
}

.bd-red-800 {
    color: #fff;
    background-color: #58151c
}

.bd-red-900 {
    color: #fff;
    background-color: #2c0b0e
}

.bd-orange-100 {
    color: #000;
    background-color: #ffe5d0
}

.bd-orange-200 {
    color: #000;
    background-color: #fecba1
}

.bd-orange-300 {
    color: #000;
    background-color: #feb272
}

.bd-orange-400 {
    color: #000;
    background-color: #fd9843
}

.bd-orange-500 {
    color: #000;
    background-color: #fd7e14
}

.bd-orange-600 {
    color: #000;
    background-color: #ca6510
}

.bd-orange-700 {
    color: #fff;
    background-color: #984c0c
}

.bd-orange-800 {
    color: #fff;
    background-color: #653208
}

.bd-orange-900 {
    color: #fff;
    background-color: #331904
}

.bd-yellow-100 {
    color: #000;
    background-color: #fff3cd
}

.bd-yellow-200 {
    color: #000;
    background-color: #ffe69c
}

.bd-yellow-300 {
    color: #000;
    background-color: #ffda6a
}

.bd-yellow-400 {
    color: #000;
    background-color: #ffcd39
}

.bd-yellow-500 {
    color: #000;
    background-color: #ffc107
}

.bd-yellow-600 {
    color: #000;
    background-color: #cc9a06
}

.bd-yellow-700 {
    color: #000;
    background-color: #997404
}

.bd-yellow-800 {
    color: #fff;
    background-color: #664d03
}

.bd-yellow-900 {
    color: #fff;
    background-color: #332701
}

.bd-green-100 {
    color: #000;
    background-color: #d1e7dd
}

.bd-green-200 {
    color: #000;
    background-color: #a3cfbb
}

.bd-green-300 {
    color: #000;
    background-color: #75b798
}

.bd-green-400 {
    color: #000;
    background-color: #479f76
}

.bd-green-500 {
    color: #fff;
    background-color: #198754
}

.bd-green-600 {
    color: #fff;
    background-color: #146c43
}

.bd-green-700 {
    color: #fff;
    background-color: #0f5132
}

.bd-green-800 {
    color: #fff;
    background-color: #0a3622
}

.bd-green-900 {
    color: #fff;
    background-color: #051b11
}

.bd-teal-100 {
    color: #000;
    background-color: #d2f4ea
}

.bd-teal-200 {
    color: #000;
    background-color: #a6e9d5
}

.bd-teal-300 {
    color: #000;
    background-color: #79dfc1
}

.bd-teal-400 {
    color: #000;
    background-color: #4dd4ac
}

.bd-teal-500 {
    color: #000;
    background-color: #20c997
}

.bd-teal-600 {
    color: #000;
    background-color: #1aa179
}

.bd-teal-700 {
    color: #fff;
    background-color: #13795b
}

.bd-teal-800 {
    color: #fff;
    background-color: #0d503c
}

.bd-teal-900 {
    color: #fff;
    background-color: #06281e
}

.bd-cyan-100 {
    color: #000;
    background-color: #cff4fc
}

.bd-cyan-200 {
    color: #000;
    background-color: #9eeaf9
}

.bd-cyan-300 {
    color: #000;
    background-color: #6edff6
}

.bd-cyan-400 {
    color: #000;
    background-color: #3dd5f3
}

.bd-cyan-500 {
    color: #000;
    background-color: #0dcaf0
}

.bd-cyan-600 {
    color: #000;
    background-color: #0aa2c0
}

.bd-cyan-700 {
    color: #fff;
    background-color: #087990
}

.bd-cyan-800 {
    color: #fff;
    background-color: #055160
}

.bd-cyan-900 {
    color: #fff;
    background-color: #032830
}

.bd-gray-100 {
    color: #000;
    background-color: #f8f9fa
}

.bd-gray-200 {
    color: #000;
    background-color: #e9ecef
}

.bd-gray-300 {
    color: #000;
    background-color: #dee2e6
}

.bd-gray-400 {
    color: #000;
    background-color: #ced4da
}

.bd-gray-500 {
    color: #000;
    background-color: #adb5bd
}

.bd-gray-600 {
    color: #fff;
    background-color: #6c757d
}

.bd-gray-700 {
    color: #fff;
    background-color: #495057
}

.bd-gray-800 {
    color: #fff;
    background-color: #343a40
}

.bd-gray-900 {
    color: #fff;
    background-color: #212529
}

.bd-white {
    color: #000;
    background-color: #fff
}

.bd-black {
    color: #fff;
    background-color: #000
}

.bd-clipboard {
    position: relative;
    display: none;
    float: right
}

.bd-clipboard+.highlight {
    margin-top: 0
}

@media (min-width: 768px) {
    .bd-clipboard {
        display: block
    }
}

.btn-clipboard {
    position: absolute;
    top: .65rem;
    right: .65rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: .65em;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid;
    border-radius: .25rem
}

.btn-clipboard:hover, .btn-clipboard:focus {
    color: #fff;
    background-color: #0d6efd
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.bd-placeholder-img-lg {
    font-size: calc(1.475rem + 2.7vw)
}

@media (min-width: 1200px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem
    }
}

.chroma .language-bash::before, .chroma .language-sh::before {
    color: #009;
    content: "$ ";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.chroma .language-powershell::before {
    color: #009;
    content: "PM> ";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.anchorjs-link {
    font-weight: 400;
    color: rgba(13, 110, 253, 0.5);
    transition: color 0.15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .anchorjs-link {
        transition: none
    }
}

.anchorjs-link:focus, .anchorjs-link:hover {
    color: #0d6efd;
    text-decoration: none
}

.algolia-autocomplete {
    width: 100%
}

.ds-dropdown-menu {
    width: 100%;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .875rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem
}

@media (min-width: 768px) {
    .ds-dropdown-menu {
        width: 400px
    }
}
