@media only screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
    overflow-x: scroll;
  }  
  [class*="col-"] {
      width: 100%;
    }

    .brand-banner {
      width: 100%;
      height: auto;
    }

    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }

    .choose-container {
      margin-top: 30px;
      padding-top: 50px;
      justify-content: center;
    }
    .carousel .carousel-inner {
      margin-top: 200px;
      padding-top: 260px;
      justify-content: center;
        height: 440px;
        width: 100%;
      }
      .courses-main-outer .courses-main-outer-1{
        width: 100%;

      }
      div#carousel-example {
        height: 420px;
        margin-bottom: 35px;
    }

  }

  @media only screen and (max-width: 768px) {

    [class*="col-"] {
      width: 100%;
    }

    .brand-banner {
      width: 100%;
      height: auto;
    }

    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }

    .flex-item-right,
    .flex-item-left {
      flex: 100%;
    }

    .choose-container {
      margin-top: 30px;
      padding-top: 70px;
      justify-content: center;
    }

    .jumbotron-img {
      height: auto;
      max-width: 100%;
    }

    .generic_footer {
      width: 106%;
    }

    .courses-main-outer {
      width: 106%;
    }
    .carousel .carousel-inner {
      margin-top: 50px;
    margin-bottom: 60px;
    height: 500px;
      justify-content: center;
        margin-bottom: 60px;
      }
      .top-content .carousel-control-prev, 
      .top-content .carousel-control-next { display: none; }
      .top-content .carousel-indicators li { margin-left: 10px; margin-right: 10px; }
  }
@media only screen and (max-width:992px) {
  .carousel .carousel-inner {
    margin-top: 100px;
    padding-top: 220px;
    margin-left: 20px;
  margin-bottom: 40px;
  height: 570px;
    justify-content: center;
    }
}

  @media only screen and (min-width :992px){
    .brand-banner {
      width: 550px;
      float: left;
    }

    .jumbotron-img {
      width: fit-content;
      flex-flow: row;
      position: absolute;
      float: right;
    }

    .flex-conatiner {
      display: flex;
      flex-direction: row;
    }

    .flex-item-right,
    .flex-item-left {
      flex: 50%;
    }

    .flex-item-right {
      float: right;
    }

    #flex {
      display: flex;
      flex-flow: row-reverse wrap;
    }

    .paragraph {
      position: relative;
      float: left;
      flex-direction: column;
      flex-basis: auto;
      flex-flow: column-reverse wrap;
    }
    .carousel .carousel-inner {
        margin-top: 30px;
        margin-bottom: 60px;
        height: 510px;
      }
  }
  @media only screen and (min-width :1025px){
    .brand-banner {
      width: 550px;
      float: left;
    }
    .paragraph {
      position: relative;
      float: left;
      flex-direction: column;
      flex-basis: auto;
      flex-flow: column-reverse wrap;
    }
  }

  @media only screen and (min-width :1211px){
    .brand-banner {
      width: 600px;
      float: left;
    }
    .paragraph {
      position: relative;
      float: left;
      flex-direction: column;
      flex-basis: auto;
      flex-flow: column-reverse wrap;
    }
  }

  @media only screen and (min-width :1265px){
    .brand-banner {
      width: 650px;
      float: left;
    }
    .paragraph {
      position: relative;
      float: left;
      flex-direction: column;
      flex-basis: auto;
      flex-flow: column-reverse wrap;
    }
  }
  @media only screen and (min-width :1319px){
    .brand-banner {
      width: 660px;
      float: left;
    }
    .paragraph {
      position: relative;
      float: left;
      flex-direction: column;
      flex-basis: auto;
      flex-flow: column-reverse wrap;
    }
  }
  @media only screen and (min-width :1331px)  {
    .brand-banner {
      width: 665px;
      float: left;
    }
    .paragraph {
      position: relative;
      float: left;
      flex-direction: column;
      flex-basis: auto;
      flex-flow: column-reverse wrap;
    }
  }